version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    networks:
      - siem-network

  logstash:
    image: docker.elastic.co/logstash/logstash:8.10.2
    container_name: logstash
    volumes:
      # Map the pipeline config
      - ./elk/logstash/pipeline:/usr/share/logstash/pipeline:ro
      # Map the SPECIFIC simulation logs folder
      - ./edr-simulation/logs:/var/log/edr_simulation:rw
    environment:
      - LS_JAVA_OPTS=-Xms256m -Xmx256m
    networks:
      - siem-network
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:8.10.2
    container_name: kibana
    ports:
      - "5601:5601"
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml
    networks:
      - siem-network
    depends_on:
      - elasticsearch
      
networks:
  siem-network:
    driver: bridge